
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{items.title}}</title>
    <link rel="stylesheet" href="/details.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

{%block header1%}

        <header>

            <div class="headers">
                <img src="/logo.png" alt="foodfy">
                <a href="/about.njk">Início</a>
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
                <a href="/enviar-receita">Envie sua receita</a>

            </div>
        </header>

{%endblock%}



<div class="foto-receita">
    <img src="{{items.image}}" alt="">

</div>
</div>

<div class="nome-receita">
    <h1>
        {{items.title}}</h1>
        <br>por

      <span>  {{items.author}} </span>

  </div>

<div class="ingredientes">
    <h2>Ingredientes</h2>

    <div class="ingredi">
         {% for ingredient in items.ingredients %}                        
             <ul class="text">
        <li>{{ingredient}}</li>
    </ul>                            
{% endfor %}  
    </div>              
</div>


<div class="modo-preparo">
    <h2>Modo de Preparo</h2>

</div>

<div class="preparation">
{% for preparation in items.preparation %}                        
             <ul class="text">
        <li>{{preparation}}</li>
    </ul>                            
{%endfor%}
</div>


<div class="info">
    <h1> Mais Informações </h1>

    
    <div class="informations">
        <p> {{items.information}} </p>
    </div>

</div>




{% block footer %}
<div class="footer">

   <p> Todos direitos reservados, receitas Foodfy. </p>

</div>

{%endblock%}

<script src="scripts.js"></script>
<script src="script_show.js"></script>

</body>
</html>