


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

{%block header1%}{%endblock%}


{%block container %}{% endblock %}

<div class="mais_acessados">

<h1> Mais acessadas </h1>

</div>

{% block cards %}{% endblock %}



{% block footer %}{%endblock%}

<script src="scripts.js">

</body>
</html>