<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="not-found.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    
<div class="container">
    <h1> Página não encontrada! </h1>
       <i class="material-icons">warning</i>

    <div class="back">
            <a href="/">Voltar para a página inicial</a>
    <i href="/" class="material-icons">east</i>


        <p> Contate nosso suporte para saber mais </p>
        


</div>
    </div>






</body>
</html>